* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
:root {
    --primary-clr: #0B0D17;
    --secondary-clr: #D0D6F9;
    --tertiary-clr: #FFFFFF;
}
nav {
    width: 100%;
    height: 120px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav > div.icon {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > div.seperator {
    width: calc(100% - 960px);
    height: 1px;
    background-color: rgb(255, 255, 255, 0.3);
    z-index: 1;
    transform: translateX(25px);
}
nav > div.container {
    width: 800px;
    padding-left: 120px;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav > div.container > a.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 50px;
    text-decoration: none;
}
nav > div.container > a.nav-item > span.num {
    margin-right: 10px;
    font-weight: bold;
    font-family: "Barlow Condensed", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--tertiary-clr);
    letter-spacing: 2.7px;
}
nav > div.container > a.nav-item > span.text {
    text-transform: uppercase;
    font-family: "Barlow Condensed", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--tertiary-clr);
    letter-spacing: 2.7px;
}
nav > div.container > a.nav-item > div.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: transparent;
    transition: background-color 0.2s;
}
nav > div.container > a.nav-item:not(.enabled):hover > div.bottom-bar {
    background-color: rgb(255, 255, 255, 0.5);
}
nav > div.container > a.nav-item.enabled > div.bottom-bar {
    background-color: var(--tertiary-clr);
}
nav > div.mobile-nav-button {
    position: absolute;
    right: 0;
    top: 0;
    background-image: url("/media/shared/icon-hamburger.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    cursor: pointer;
    z-index: 2;
    display: none;
}
nav > div.mobile-nav-button.open {
    background-image: url("/media/shared/icon-close.svg");
}
@media (max-width:1000px) {
    nav {
        height: 80px;
    }
    nav > div.seperator {
        display: none;
    }
    nav > div.icon {
        width: 100px;
    }
    nav > div.container {
        width: 500px;
        margin-left: auto;
        padding-left: 50px;
    }
    nav > div.container > a.nav-item {
        margin-right: 40px;
    }
    nav > div.container > a.nav-item > span.num {
        display: none;
    }
    nav > div.container > a.nav-item > span.text {
        font-size: 14px;
    }
}
@media (max-width:600px) {
    nav > div.mobile-nav-button {
        display: flex;
    }
    nav > div.container {
        z-index: 1;
        background-color: rgb(255, 255, 255, 0.2);
        backdrop-filter: blur(10px);
        position: absolute;
        min-height: 100vh;
        width: 0;
        right: 0;
        top: 0;
        flex-direction: column;
        padding-left: 0;
        transition: right 0.5s;
        padding-top: 100px;
        /* display: none; */
        transition: width 0.5s, padding-left 0.5s;
    }
    nav > div.container.open {
        padding-left: 40px;
        width: 250px;
        /* display: flex; */
    }
    nav > div.container > a.nav-item {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 70px;
        max-height: 70px;
        width: 100%;
        margin-right: 0;
        text-decoration: none;
        padding-left: 0;
        justify-content: flex-start;
        overflow: auto;
    }
    nav > div.container > a.nav-item > span.num {
        display: block;
        font-size: 16px;
    }
    nav > div.container > a.nav-item > span.text {
        display: block;
        font-size: 16px;
    }
    nav > div.container > a.nav-item > div.bottom-bar {
        position: absolute;
        left: calc(100% - 4px);
        bottom: calc(50% - 18px);
        width: 4px;
        height: 36px;
    }
}