* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
:root {
    --primary-clr: #0B0D17;
    --secondary-clr: #D0D6F9;
    --tertiary-clr: #FFFFFF;
}
nav {
    width: 100%;
    height: 120px;
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav > div.icon {
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav > div.seperator {
    width: calc(100% - 960px);
    height: 1px;
    background-color: rgb(255, 255, 255, 0.3);
    z-index: 1;
    transform: translateX(25px);
}
nav > div.container {
    width: 800px;
    padding-left: 120px;
    background-color: rgb(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
nav > div.container > a.nav-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-right: 50px;
    text-decoration: none;
}
nav > div.container > a.nav-item > span.num {
    margin-right: 10px;
    font-weight: bold;
    font-family: "Barlow Condensed", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: var(--tertiary-clr);
    letter-spacing: 2.7px;
}
nav > div.container > a.nav-item > span.text {
    text-transform: uppercase;
    font-family: "Barlow Condensed", Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--tertiary-clr);
    letter-spacing: 2.7px;
}
nav > div.container > a.nav-item > div.bottom-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: transparent;
    transition: background-color 0.2s;
}
nav > div.container > a.nav-item:not(.enabled):hover > div.bottom-bar {
    background-color: rgb(255, 255, 255, 0.5);
}
nav > div.container > a.nav-item.enabled > div.bottom-bar {
    background-color: var(--tertiary-clr);
}