{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Space Tourise: {% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'css/base.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% get_media_prefix %}favicon-32x32.png">
    <script src="{% static 'js/base.js' %}"></script>
    {% block headextra %}
    {% endblock headextra %}
</head>
<body>
    <nav>
        <div class="icon">
            <img src="/media/shared/logo.svg">
        </div>
        <div class="seperator"></div>
        <div class="container">
            <a class="nav-item">
                <span class="num">00</span>
                <span class="text">home</span>
                <div class="bottom-bar"></div>
            </a>
            <a class="nav-item" href="google.com">
                <span class="num">01</span>
                <span class="text">destination</span>
                <div class="bottom-bar"></div>
            </a>
            <a class="nav-item">
                <span class="num">02</span>
                <span class="text">crew</span>
                <div class="bottom-bar"></div>
            </a>
            <a class="nav-item">
                <span class="num">03</span>
                <span class="text">technology</span>
                <div class="bottom-bar"></div>
            </a>
        </div>
    </nav>
    {% block body %}
    {% endblock body %}
    {% block script %}
    {% endblock script %}
</body>
</html>