{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block headextra %}
<link rel='stylesheet' href="{% static 'css/home.css' %}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@400;700&display=swap" rel="stylesheet">
{% endblock headextra %}

{% block body %}

{% endblock body %}

{% block script %}
<script>
    setNavEnabled(0)
</script>
{% endblock script %}